.footer-container{
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) ,0 1px 2px rgba(0,0,0,0.26);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #82AAE3;
}
.footer-txt{
    color: black;
    font-size: 20;
    font-weight: 600;
}