.app-container{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.body-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 130px);
    padding: 10vh 0px;
} 
